<mat-card>
    <mat-card-title>
        Alterar Livro
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Título" [(ngModel)]="book.title" name="title">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Autor" [(ngModel)]="book.author" name="author">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Editora"[(ngModel)]="book.publishing" name="publishing">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Páginas" [(ngModel)]="book.pages" name="pages">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateBook()" >
        Alterar
    </button>
    
    <button mat-raised-button (click)="cancel()" color="warn">
        Cancelar
    </button>
</mat-card>



