<mat-card class="readings mat-elevation-z3">
    <mat-card-title class="title">Lendo</mat-card-title>
    <mat-card-subtitle class="subtitle"></mat-card-subtitle>
</mat-card>

<mat-card class="readings mat-elevation-z3">
    <mat-card-title class="title"> A ler</mat-card-title>
    <mat-card-subtitle class="subtitle"></mat-card-subtitle>
</mat-card>

<mat-card class="readings mat-elevation-z3">
    <mat-card-title class="title"> Lidos</mat-card-title>
    <mat-card-subtitle class="subtitle"></mat-card-subtitle>
</mat-card>
